@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts/Satoshi/Fonts/WEB/css/satoshi.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.raleway {
  font-family: var(--font-raleway);
}
.playfair_display {
  font-family: var(--font-playfair_display);
}
@font-face {
  font-family: 'burtons';
  src: url('../public/Burtons.otf');
}
.text-accent-primary {
  color: #33b3a5;
}
.d-block {
  display: block !important;
}
.h3mktg {
  color: rgb(0, 0, 0);
  font-family: 'Mona Sans', 'Mona';
  display: block;
  font-feature-settings: normal;
  color-scheme: dark;
  font-size: 28px;
  font-weight: 500;
  padding-top: 20px;
  letter-spacing: -0.28px;
  margin-block-end: 24px;
  margin-block-start: 0px;
  margin-bottom: 14px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  unicode-bidi: isolate;
  word-break: keep-all;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
